<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
    <%= render 'books/user_info', user: @user %>
    <%= render 'books/info_new',book: @book %>
   
  <!--自分の投稿一覧-->
  
      <!--見出し-->
      <h1>Books</h1>
  <div class="container"> 
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <table class="table">
        <!--テーブルのヘッダー-->
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <!--実データ-->
        <% @books.each do |book| %>
          <tbody>
            <tr>
              <td>
                <!--ユーザー詳細にリンク-->
                <%= link_to user_path(@user.id) do %>
                <% end %>
              </td>

              <td>
                <!--タイトルブック詳細にリンク-->
                <%= link_to book_path(book.id) do %>
                  <%= book.title %>
                <% end %>
              </td>

              <td>
                <!--詳細-->
                <%= book.body %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
